Repository hmcts/service-auth-provider-app, pull requests merged in 2019-03, with the labels that each got.

#127 Adding charts to App, upgrading java logging
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/rpe-service-auth-provider/.helmignore
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/requirements.yaml
  charts/rpe-service-auth-provider/templates/NOTES.txt
  charts/rpe-service-auth-provider/values.template.yaml
  dependency-check-suppressions.xml
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/auth/provider/service/api/componenttests/InfoEndpointTest.java
Labels: ns:rpe-service-auth-provider-pr-127

#129 Use latest chart-java
  charts/rpe-service-auth-provider/requirements.yaml
Labels: ns:rpe-service-auth-provider-pr-129

#130 bump chart version
  charts/rpe-service-auth-provider/Chart.yaml
Labels: ns:rpe-service-auth-provider-pr-130
