Repository hmcts/service-auth-provider-app, pull requests merged in 2020-06, with the labels that each got.

#267 Add appinsights key to chart
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-267

#268 Onboarding AM Judicial Booking application.
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-268

#273 Renovate helm requirements
  .github/renovate.json
  charts/rpe-service-auth-provider/Chart.yaml
  renovate.json
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-273

#280 Onboarding AM Organisation Role Mapping application
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-280

#282 Update to java 11
  Dockerfile
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-282

#283 added ucmc-service s2s
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-283
