Repository hmcts/service-auth-provider-app, pull requests merged in 2020-08, with the labels that each got.

#296 Onboarding RD Fee Pay Ref data load.
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-296

#300 Rename secret name
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-300

#301 Rdcc 1769
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-301

#302 Setup the s2s secret for WA
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-302

#305 Add entry for rd-location-ref-api
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-305
