Repository hmcts/service-auth-provider-app, pull requests merged in 2020-05, with the labels that each got.

#248 updated java chart dependency
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/requirements.yaml
  dependency-check-suppressions.xml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-248

#250 RDM 8445 adding pcq s2s keys
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-250

#251 Added ecm microservice
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-251

#256 RDM-8493 - Registering Manage Case Assignment in S2S
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-256

#257 Add `reform-scan-notification-tests` secret
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-257

#258 Remove deprecated flag
  Jenkinsfile_CNP
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-258

#262 Update dependencies
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-262

#263 Add microservice key to app
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-263

#264 Onboarding AM application.
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-264
