Repository hmcts/service-auth-provider-app, pull requests merged in 2020-01, with the labels that each got.

#222 Temporarily suppress OWASP issue
  dependency-check-suppressions.xml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-222

#226 Adding rd-judicial-api microservice
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-226

#227 Adding ccd case document am api
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, rel:rpe-service-auth-provider-pr-227
