Repository hmcts/service-auth-provider-app, pull requests merged in 2020-07, with the labels that each got.

#286 Add shared mi
  infrastructure/main.tf
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-286

#288 Added unspec-service key
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-288

#290 Removed ucmc after transition to unspec
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-290

#293 Onboarding RD Caseworker Ref API.
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-293

#294 Chart update in flux is not needed anymore
  README.md
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-294
