Repository hmcts/service-auth-provider-app, pull requests merged in 2021-02, with the labels that each got.

#365 Ta 426 pact provider test
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/auth/provider/service/api/auth/AuthControllerProviderContext.java
  src/contractTest/java/uk/gov/hmcts/auth/provider/service/api/auth/AuthControllerProviderTest.java
  src/main/resources/application.yml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-365

#371 Added nfdiv case api s2s secret
  README.md
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-371

#372 am-role-assignment-refresh-batch
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-372

#373 Added in key for em-hrs-api
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-373

#374 TA-426: Fix jupiter dependabot class path issue
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-374
