Repository hmcts/service-auth-provider-app, pull requests merged in 2021-03, with the labels that each got.

#377 Added in key for em-hrs-ingestor
  build.gradle
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-377

#378 Updated cnp-module-key-vault branch to master
  infrastructure/main.tf
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-378

#386 Upgrade to spring boot 2.4 with configtree
  README.md
  build.gradle
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-386
