Repository hmcts/service-auth-provider-app, pull requests merged in 2021-01, with the labels that each got.

#352 Bump tomcat
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-352

#351 Create secret for rd-profile-sync service
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-351

#359 Add camunda-bpm secret
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-359
