Repository hmcts/service-auth-provider-app, pull requests merged in 2022-03, with the labels that each got.

#526 Added multi-architecture ACR Task template.
  Dockerfile
  acb.tpl.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-526

#532 Add HMC CFT Hearing Service for S2S
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-532

#533 Adding et_sya_api service
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-533

#535 Cshiwarale patch 1
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-535

#541 Add HMC HMI Inbound Adapter
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  dependency-check-suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-541
