Repository hmcts/service-auth-provider-app, pull requests merged in 2022-11, with the labels that each got.

#603 fis-hmc-api s2s creation
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-603

#609 CVE fix
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-609

#619 Adding DSS backend microservice
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-619

#620 St 872 bump helm chart version
  charts/rpe-service-auth-provider/Chart.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-620
