Repository hmcts/service-auth-provider-app, pull requests merged in 2022-02, with the labels that each got.

#515 DTSPO-6155 Update s2s to Java 17
  .gitignore
  Dockerfile
  build.gradle
  infrastructure/main.tf
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/functionalTest/java/uk/gov/hmcts/auth/provider/service/api/BaseFunctionalTest.java
  src/main/java/uk/gov/hmcts/auth/provider/service/api/auth/AuthController.java
  src/main/java/uk/gov/hmcts/auth/provider/service/api/auth/AuthIntegrationTestSupportController.java
  src/main/java/uk/gov/hmcts/auth/provider/service/api/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/auth/provider/service/api/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/auth/provider/service/api/model/SignIn.java
  src/main/java/uk/gov/hmcts/auth/provider/service/api/model/SignInWithoutOtp.java
  src/main/resources/application.yml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-515

#516 DTSPO-6155 Switch to app insights v3
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
  infrastructure/main.tf
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-516

#517 DTSPO-6154 Sync branches
  Jenkinsfile_CNP
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-517

#514 DTSPO-6155 Store app insights connection string
  infrastructure/main.tf
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-514

#522 add service for s2s authentication
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-522
