Repository hmcts/service-auth-provider-app, pull requests merged in 2023-06, with the labels that each got.

#742 Updating renovate config
  .github/renovate.json
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-742

#745 Added cui-ra to charts
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-745

#746 SDT-43: create s2s secrect for Civil SDT
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-746

#748 Add new idam-user-disposer service
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-748

#756 Remove unnecessary override of groovy
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-756

#759 decode output from python
  bin/set-secret-in-all-vaults
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-759
