Repository hmcts/service-auth-provider-app, pull requests merged in 2024-06, with the labels that each got.

#956 Revert "Remove sandbox from script"
  bin/check-all-vaults-for-s2s-secret
  bin/set-secret-in-all-vaults
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-956

#957 Remove st-cron-trigger config
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-957

#961 decommissioning JPS
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-961
