Repository hmcts/service-auth-provider-app, pull requests merged in 2025-03, with the labels that each got.

#1048 LAU-1105 add disposer-fee-and-pay service
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-1048

#1051 Revert "Update junit5 monorepo"
  build.gradle
Labels: ns:rpe, prd:rpe, rel:rpe-service-auth-provider-pr-1051

#1058 adding s2s for enforcement api
  charts/rpe-service-auth-provider/Chart.yaml
  charts/rpe-service-auth-provider/values.yaml
Labels: ns:rpe, prd:rpe, aat/no-changes, prod/no-changes, rel:rpe-service-auth-provider-pr-1058
